# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\JMProject\Spring_MVC_CRUD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
